.container {
    > ul {
        li {
            font-size: 40px;
        }
        .name {
            color: royalblue;
        }
        .age {
            color: orange;
        }
    }
}
// 상위 선택자 참조
.btn {
    position: absolute;
    &.active {
        color: red;
    }
}
.list {
    li {
        &:last-child {
            margin-right: 0;
        }
    }
}
.fs{
    &-small { font-size: 12px;}
    &-medium { font-size: 14px;}
    &-large { font-size: 16px;}
}
// 중첩된 속성
.box{
    font: {
        weight: bold;
        size: 10px;
        family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    };
    margin: {
        top: 10px;
        left: 20px;
    };
    padding: {
        top: 10px;
        bottom: 40px;
        left: 20px;
        right: 30px;
    };
}
// 변수 (variables)
$size: 200px; // 전역변수
.container {
    position: fixed;
    top: $size;
    .item {
        $size: 100px; // 재할당 가능
        width: $size;
        height: $size;
        transform: translateX($size);
    }
    left: $size;
}
// 산술 연산
div {
    $size: 30px;
    width: 20px + 20px;
    height: 40px - 10px;
    font-size: 10px * 2;
    // margin: 30px / 2; // 결과가 제대로 동작하지 않음
    margin: (30px / 2);
    margin-top: $size / 2;
    margin-bottom: 10px + 12px / 2;
    padding: 20px % 7;
}
// 재활용
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    @include center;
    .item {
        @include center;
    }
}
.box {
    @include center;
}

@mixin box($size) {
    width: $size;
    height: $size;
    background-color: tomato;
}
.container {
    @include box(200px);
    .item {
        @include box(100px);
    }
}
.box {
    @include box(100px);
}


@mixin box($size: 70px, $color: tomato) {
    width: $size;
    height: $size;
    background-color: tomato;
}
.container {
    @include box(200px, red);
    .item {
        @include box($color: green); 
    }
}
.box {
    @include box;
}

// 반복문
@for $i from 1 through 10 {
    .box:nth-child(#{$i}) {
        width: 100px * $i;
    }
}

// 함수
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@function ratio($size, $ratio) {
    @return $size * $ratio;
}

.box {
    $width: 100px;
    width: $width;
    height: ratio($width, 1/2);
    @include center;
}